.searchContainer {
	margin: 20px 0;
	background: none;

	--border-radius: 6px;
	--border-highlight: #2d88d8;
	--shadow: #e2e2e2;
	--placeholder: #ccd4da;
	--search-text: #424242;
	--entry-bg-hover: #d8ebfb;
	--entry-text-hover: var(--border-highlight);
	--tag-bg: #f2f4f6;
	--tag-text: #b4bdc3;
}

.searchBar,
.resultsContainer {
	background: white;
	border-radius: var(--border-radius);
}

.searchBar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 7px 10px;
	border: 1px solid var(--placeholder);
	box-sizing: border-box;
	transition: border-color 500ms;
}

.searchBarOpen,
.searchBar:focus-within {
	outline: none;
	margin-bottom: 0;
	border-color: var(--border-highlight);
}

.searchBar > input {
	border: none;
	outline: none;
	width: 100%;
	font-size: 25px;
}

.searchBar > input::placeholder {
	color: var(--placeholder);
}

.resultsContainer {
	z-index: 99;
	width: 100%;
	box-sizing: border-box;
	padding: 0 3px 0 10px;
	margin-top: 15px;
	border: 1px solid var(--placeholder);
	max-height: 400px;
	overflow-y: auto;
}

.resultsContainer::-webkit-scrollbar {
	width: 7px;
	background: none;
}

.resultsContainer:hover::-webkit-scrollbar-thumb {
	background: var(--tag-bg);
	border-radius: var(--border-radius);
}

.resultEntry {
	display: flex;
	margin: 10px 0;
	padding: 10px;
	border-radius: 4px;
	justify-content: space-between;
	align-items: center;
	color: var(--search-text);
}

.resultEntry:hover {
	transition:
		background 200ms,
		color 200ms;
	background: var(--entry-bg-hover);
	color: var(--entry-text-hover);
	cursor: pointer;
}

.resultInfo {
	display: flex;
	flex-direction: column;
	font-size: 15px;
	font-weight: lighter;
}

.resultTitle {
	font-size: 18px;
	font-weight: bold;
}

.completionTags {
	margin: 7px 0;
}

.completionTags > span {
	margin: 4px;
	padding: 7px;
	border-radius: 3px;
	background: var(--tag-bg);
	color: var(--tag-text);
	font-weight: 600;
	font-size: 13px;
}

.completionTags > span:first-child {
	margin-left: 0;
}

.chartIcon {
	font-size: 2em;
}

.chartIcon {
	font-size: 25px;
	margin: auto 0;
}
